@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    /* box-sizing: border-box; */
}

.feather {
    width: 16px;
    height: 16px;
}

.card-img-top {
    margin: auto;
    max-width: 400px;
}

main {
    min-height: calc(100vh - 73px - 56px - 56px);
}

footer hr {
    width: 500px;
}

/* .article_image {
    max-height: 400px;
    overflow: hidden;
} */
/* body {
    position: relative;
}

main {
    padding-bottom: 50px;
} */